# APIs externas
BRAPI_TOKEN=
ALPHAVANTAGE_API_KEY=

# PostgreSQL (perfil dev)
POSTGRES_URL=jdbc:postgresql://localhost:5432/acoes_corretoradb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# MySQL (perfil mysql)
MYSQL_URL=jdbc:mysql://localhost:3306/acoes_corretoradb?createDatabaseIfNotExist=true&serverTimezone=America/Sao_Paulo
MYSQL_USER=root
MYSQL_PASSWORD=
